html, body {
  height: 100%;
  margin: 0;
}

.bigHeader {
  height: 160px;
  width: 100%;
  background-image:
  linear-gradient(180deg, rgba(0, 47, 85, 1) 0%, rgba(0, 47, 85, 0.2) 100%),
  url('../../assets/main-page-header.jpg');
  background-size: cover;
  background-position: center bottom;
}
